<component name="ArtifactManager">
  <artifact type="war" name="SpringDemo:war">
    <output-path>$PROJECT_DIR$/SpringDemo/target</output-path>
    <root id="archive" name="open-spring-mvc.war">
      <element id="artifact" artifact-name="SpringDemo:war exploded" />
    </root>
  </artifact>
</component>